name: Bazel test
on: [pull_request]

jobs:
  test:
    strategy:
      matrix:
        worker: [
                 'tests:first_chunk',
                 'tests:second_chunk',
                 'tests:third_chunk',
                 'tests:fourth_chunk',
                 'tools/c7n_azure/tests_azure',
                 'tools/c7n_gcp/tests',
                 'tools/c7n_kube/tests',
                 'tools/c7n_mailer/tests',
        ]
    runs-on: ubuntu-18.04
    name: Test
    container:
      image: rushrecon/bazel2py:3.0.0
      volumes:
        - /tmp/output_build/2ea0736f19907bdbf0b696f1c9b02a37/external:/tmp/output_build/2ea0736f19907bdbf0b696f1c9b02a37/external
        - /tmp/output_build/2ea0736f19907bdbf0b696f1c9b02a37/execroot:/tmp/output_build/2ea0736f19907bdbf0b696f1c9b02a37/execroot
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Mount external cache
        uses: actions/cache@v1
        with:
          path: "/tmp/output_build/2ea0736f19907bdbf0b696f1c9b02a37/external"
          key: bazel-ext
      - name: Mount execroot cache
        uses: actions/cache@v1
        with:
          path: "/tmp/output_build/2ea0736f19907bdbf0b696f1c9b02a37/execroot"
          key: bazel-exec-${{ matrix.worker }}
      - name: Execute bazel test //${{ matrix.worker }}
        run: bazel --output_user_root=/tmp/output_build test //${{ matrix.worker }}
