vcrpy==2.1.1
vcrpy_unittest==0.1.7
backports.functools_lru_cache==1.6.1
pywin32<226; sys_platform == 'win32'
azure-functions; python_version >= '3.6'
parameterized
azure-storage-blob~=2.1
azure-storage-common~=2.0
azure-storage-queue~=2.1
azure-storage-file~=2.1

# added
adal
msrest
PyJWT
msrestazure
azure
netaddr